*.iml
.gradle
.gradle-user-home
/local.properties
.idea
.DS_Store
/build
.externalNativeBuild
.cxx
local.properties
build/
*/build/
*.jks
*.keystore
/temp_gradle_home
.kotlin
.vscode

# Gradle Wrapper
gradlew
gradlew.bat
gradle/wrapper/